<% if @snippets.nil? || @snippets.blank? %>
  <p>There's nothing here</p>
<% else %>
  <% @snippets.each do |snippet| %>
    <%= render :partial => "snippets/box", :locals => { :snippet => snippet } %>
  <% end %>
<% end %>
