%h1 New snippet

.snippet-container
  = form_tag(:action => "create", :method => "post", :class => "snippet-form") do
    = label_tag(:code, "Enter your code here")
    = text_area_tag(:code)
    = submit_tag("Post")
